Repository gardener/gardener-extension-shoot-cert-service, pull requests merged in 2021-09, with the labels that each got.

#88 Support for Kubernetes v1.22
  charts/gardener-extension-shoot-cert-service/templates/crds.yaml
  charts/gardener-extension-shoot-cert-service/templates/rbac-shoot-cert-service.yaml
  charts/internal/shoot-cert-management-seed/templates/rbac.yaml
  charts/internal/shoot-cert-management-shoot/templates/crds-v1.yaml
  charts/internal/shoot-cert-management-shoot/templates/crds-v1beta1.yaml
  charts/internal/shoot-cert-management-shoot/values.yaml
  example/20-crd-cluster.yaml
  example/20-crd-extension.yaml
  example/20-crd-issuer.yaml
  example/20-crd-managedresource.yaml
  example/25-rbac.yaml
  example/30-cluster.yaml
  example/30-extension.yaml
  example/controller-registration.yaml
  pkg/controller/actuator.go
Labels: needs/ok-to-test, area/control-plane, kind/enhancement, reviewed/lgtm, size/xl

#90 Enable deactivation of authorizations for successful certificate requests
  charts/gardener-extension-shoot-cert-service/templates/_helpers.tpl
  charts/gardener-extension-shoot-cert-service/values.yaml
  charts/internal/shoot-cert-management-seed/templates/deployment.yaml
  charts/internal/shoot-cert-management-seed/values.yaml
  example/00-config.yaml
  example/controller-registration.yaml
  hack/api-reference/config.md
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/controller/actuator.go
Labels: needs/ok-to-test, area/control-plane, kind/api-change, kind/enhancement, reviewed/lgtm, size/s

#95 Nit: Clean up SKIP_FETCH_TOOLS=1 from Makefile
  Makefile
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#93 Update certificate CRD for status.conditions
  charts/internal/shoot-cert-management-shoot/templates/crds-v1.yaml
  charts/internal/shoot-cert-management-shoot/templates/crds-v1beta1.yaml
Labels: needs/ok-to-test, area/control-plane, kind/enhancement, reviewed/lgtm, size/m
